EXPO_PUBLIC_API_BASE_URL=https://langbackend-production.up.railway.app/api/v1
EXPO_PUBLIC_PRIVACY_POLICY_URL=https://langbackend-production.up.railway.app/politica-de-privacidade/
EXPO_PUBLIC_ADMOB_INTERSTITIAL_ID=ca-app-pub-3940256099942544/1033173712
